/* @import './bootstrap.css'; */
@import './bootstrap.min.css';

:root {
  --body-bg: #ffffff;
  --dark-color: #000000;
  --light-color: #4b4947;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-bg);
  color: var(--dark-color);
}
a {
  color: var(--dark-color);
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: var(--dark-color);
}

.rating span i {
  color: #ffbb00;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: var(--dark-color);
}

.carousel-caption h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: var(--dark-color);
}

.carousel img {
  max-height: 745px;
  width: 745px;
  padding: 30px;
  margin: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

.pagination {
  justify-content: center;
}

.c-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #0000002e;
}

.navbar-light .navbar-nav .nav-link .navbar-brand {
  color: var(--dark-color) !important;
}

.btn-primary {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: #ffffff;
}

.btn-primary:focus {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: #ffffff;
}

.btn-primary:active {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: #ffffff;
}

.btn-primary:disabled {
  color: #7e7575;
  background-color: #e5e6e7;
  border-color: #bbbbbb;
}

.card {
  box-shadow: unset !important;
  background-color: #ffffff !important;
}

.pagination {
  background-color: unset !important;
  box-shadow: none;
}

.page-link {
  background-color: #fff;
  color: var(--light-color);
  border-color: var(--light-color);
}

.page-link:hover {
  background-color: var(--light-color);
  color: #ffffff;
  border-color: var(--light-color);
}

.page-item.active .page-link {
  background-color: var(--light-color);
  border-color: var(--light-color);
}

.list-group {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 6px rgb(132 137 247 / 10%),
    inset -3px -2px 4px rgb(132 137 247 / 27%);
}

.form-inline {
  display: flex;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.search-button {
  border-radius: 0px 6px 6px 0;
}

.carousel-caption h2 {
  color: var(--dark-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark-color);
}

.navbar-nav.navbar-nav-scroll {
  max-height: unset !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--dark-color);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: brightness(0) sepia(1) hue-rotate(204deg) saturate(5);
  color: #000 !important;
}
