@import './bootstrap.css';

main {
  min-height: 80vh;
}

.rating span i {
  color: #ffbb00;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.pagination {
  justify-content: center;
}

/* --bs-body-bg: #dae0ff;
--dark-color: #836ede;
--light-color: #f5d2b3; */
.c-navbar {
  background-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link .navbar-brand {
  color: var(--dark-color) !important;
}

.btn {
  background-color: var(--dark-color);
  color: #ffffff;
}

.btn:hover {
  background-color: var(--dark-color);
  color: #ffffff;
}

.btn:focus {
  background-color: var(--dark-color);
  color: #ffffff;
}

.btn:active {
  background-color: #7964d6 !important;
  color: #ffffff;
}

.card {
  box-shadow: unset !important;
  background-color: #ffffff !important;
}

.pagination {
  background-color: unset !important;
  box-shadow: none;
}

.page-link {
  background-color: #cfdaff;
}

.page-item.active .page-link {
  background-color: #afc1ff !important;
}

.list-group {
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 6px rgb(132 137 247 / 10%),
    inset -3px -2px 4px rgb(132 137 247 / 27%);
}

.form-inline {
  display: flex;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.search-button {
  border-radius: 0px 6px 6px 0;
}
